###############################################################################
#                                Gpass Config                                 #
#                                                                             #
###############################################################################
#
#
#Lenght of password
