###############################################################################
#                                Gpass Config                                 #
#                                                                             #
###############################################################################
#
#
#Lenght of password
password_len = 25
#
#Character Sets {char_set = Title:setOfCharacters}
char_set = ssymbols:!@#$&*?
char_set = symbols:!@#$%^&*()_-+={}|[]?><~`
char_set = ALPHA:ABCDEFGHIJKLMNOPQURSTUVWXYZ
char_set = alpha:abcdefghijklmnopqurstuvwxyz
char_set = int:0123456789
#
#default characters to use
char_sets_to_use = alpha, ALPHA, int, ssymbols
#
#GPG binary
gpgbinary = /usr/bin/gpg2
#
#GPG home
gpghome = /home/cmo/.gnupg
#
#Pass Password Store home
password_store = /home/cmo/.password-store
